<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkSkyCollectorDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <DarkSkyCollectorDesktop.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseUser" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RefreshInterval" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="DarkSkyAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="DarkSkyExclusions" serializeAs="String">
        <value />
      </setting>
      <setting name="DarkSkyLang" serializeAs="String">
        <value />
      </setting>
      <setting name="DarkSkyLat" serializeAs="String">
        <value />
      </setting>
      <setting name="DarkSkyLong" serializeAs="String">
        <value />
      </setting>
      <setting name="DarkSkyUnits" serializeAs="String">
        <value />
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LogDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value />
      </setting>
    </DarkSkyCollectorDesktop.Properties.Settings>
  </userSettings>
</configuration>