<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherCollectorDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherCollectorDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <WeatherCollectorDesktop.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseUser" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RefreshInterval" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="weatherAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="weatherExclusions" serializeAs="String">
        <value />
      </setting>
      <setting name="weatherLang" serializeAs="String">
        <value />
      </setting>
      <setting name="weatherLat" serializeAs="String">
        <value />
      </setting>
      <setting name="weatherLong" serializeAs="String">
        <value />
      </setting>
      <setting name="weatherUnits" serializeAs="String">
        <value />
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LogDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="runID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="weatherLanguage" serializeAs="String">
        <value />
      </setting>
    </WeatherCollectorDesktop.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <WeatherCollectorDesktop.Properties.Settings>
      <setting name="DocLink" serializeAs="String">
        <value>https://github.com/BonzaOwl/WeatherCollector</value>
      </setting>
    </WeatherCollectorDesktop.Properties.Settings>
  </applicationSettings>
</configuration>